@import "abstracts/function";
@import "abstracts/variable";
@import "abstracts/mixins";

@import "base/base";
@import "base/utilities";
@import "base/typography";
@import "base/animation";
@import "base/mediaquery";


@import "components/button";
@import "components/composition";
@import "components/feature-box";
@import "components/card";
@import "components/stories";
@import "components/bg-video";
@import "components/form";
@import "components/popup";


@import "layouts/navigation";
@import "layouts/header";
@import "layouts/grid";
@import "layouts/footer";

@import "pages/home";


::selection{
	background-color:$color-primary;
	color:$light;
	font-weight:bolder;
}